.suggested-friends-container {
  position: fixed;
  bottom: 0;
  right: 20px;
  background-color: #e9e1ff;
  border: 1px solid #ddd;
  padding: 16px;
  width: 330px;
  // overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;


  .dark & {


    background-color: #000;
    color: #fff;

  }


}

.expand-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
 


  .dark & {

    color: white;
  }

  span {

    color: black;


    .dark & {
      color: white;
    }
  }
}


.expand-icon {
  margin-right: 5px;
}

.friends {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  height: 150px;
  max-height: 0;
  transition: max-height 0.5s ease;
}

.friends.show {
  max-height: 200px;
}

.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  width: 100%;
}

.friend img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
}

.info span {
  font-size: 16px;
  margin-right: 12px;
}

.info button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

/* Désactiver la barre de défilement verticale */
.friends::-webkit-scrollbar {
  display: none;
}