// .suggested-friends-container {
//   position: fixed;
//   bottom: 0; /* Positionner la composante en bas de la page */
//   right: 20px; /* Déplacer la composante vers la droite */
//   background-color: #e9e1ff;
//   border: 1px solid #ddd;
//   padding: 16px;
//   width: 330px;
//   height: 170px; /* Hauteur initiale de la liste */
//   overflow-y: hidden; /* Masquer la barre de défilement */
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//   border-radius: 20px;

//   h2 {
//     position: relative; /* Pour placer la flèche par rapport à ce titre */
//     font-size: 18px;
//     margin-bottom: 12px;
//   }

//   .arrow {
//     position: absolute;
//     top: 50%;
//     right: -20px; /* Décaler la flèche vers la droite */
//     transform: translateY(-50%);
//     cursor: pointer;
//   }

//   ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;

//     .friend {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       margin-bottom: 12px;
//       width: 100%;

//       img {
//         width: 40px;
//         height: 40px;
//         border-radius: 50%;
//         margin-right: 12px;
//         object-fit: cover;
//       }

//       .info {
//         display: flex;
//         align-items: center;

//         span {
//           font-size: 16px;
//           margin-right: 12px;
//         }

//         button {
//           background-color: #3498db;
//           color: #fff;
//           border: none;
//           padding: 8px 12px;
//           border-radius: 4px;
//           cursor: pointer;
//           font-size: 14px;
//         }
//       }
//     }
//   }

//   &.show {
//     height: unset; /* Supprimer la limitation de hauteur lorsque la liste est affichée */
//     overflow-y: auto; /* Afficher la barre de défilement lorsque la liste est trop longue */
//   }
// }













.suggested-friends-container {
  position: fixed;
  bottom: 0;
  right: 20px;
  background-color: #e9e1ff;
  border: 1px solid #ddd;
  padding: 16px;
  width: 330px;
  // overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.expand-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.expand-icon {
  margin-right: 5px;
}

.friends {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  height: 150px;
  max-height: 0;
  transition: max-height 0.5s ease; 
}

.friends.show {
  max-height: 200px; 
}

.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  width: 100%;
}

.friend img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
}

.info span {
  font-size: 16px;
  margin-right: 12px;
}

.info button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

/* Désactiver la barre de défilement verticale */
.friends::-webkit-scrollbar {
  display: none;
}
