.trending {
    background-color: #c3e1e6;
    border: 1px solid #ddd;
    padding: 16px;
    margin-top: -110px;
    max-height: 300px;
    overflow: hidden; // Set overflow to hidden
    border-radius: 20px;
  
    h2 {
      font-size: 18px;
      margin-bottom: 35px;
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-bottom: 100px; // Add some padding to allow scrolling
    
     
  
      li {
        height: 40px; // Set a fixed height for each list item
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        padding: 8px;
        background-color: #f0f0f0;
        border-radius: 4px;
        // animation: scrollAnimation 15s linear infinite; // Adjust the animation duration
      
  
        &:hover {
          background-color: #e0e0e0;
        //   animation-play-state: paused; // Pause the animation on hover
        }
      }
    }
  
    @keyframes scrollAnimation {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-100%);
      }
    }
  }
  