


.trending {
  background-color: #c3e1e6;
  border: 1px solid #ddd;
  padding: 16px;
  margin-top: -90px;
  max-height: 300px;
  overflow: hidden;
  border-radius: 20px;

  &.dark {
   
   
      background-color:#000; 
      color: #fff; 
    
  }



  h2 {
    font-size: 18px;
    margin-bottom: 35px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 100px;

    &.dark {
   
   
      background-color:#000; 
      color: #fff; 
    
  }

    li {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
      padding: 8px;
      // background-color: #f0f0f0;
      border-radius: 4px;
      animation: scrollAnimation 20s linear ;


     

      &:hover {
        background-color: #e0e0e0;
        animation-play-state: paused;
      }

      &.dark {
   
   
        background-color:#000; 
        color: #fff; 
      
    }
    }
  }

  @keyframes scrollAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
}