.socials {


  &.dark {
   
   
    background-color:#000; 
   color: #fff; 
 }


  
 
  
  .socials-list {
    list-style: none;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    margin-left: -30px;


    border-radius: 20px; /* Adjusted border radius */
    // background-color: rgb(202, 226, 192);



 

   

    li {
      flex: 1 0 calc(80% - 20px);
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      span {
        margin-right: 10px;
        cursor: pointer;

        svg {
          font-size: 24px;
          margin-bottom: 5px;
        }
      }

      p {
        display: block;
        font-size: 14px;
 
        margin-left: 10px;

        &.dark {
   
   
          color: #fff; 
        }
      }

      &:hover {
        color: #007bff;
      }


      &.dark {
   
   
       color: #fff; 
     }
    
    }
  }


}
