.share-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    background-color: #fafcff;
    color: #251e1e;
    margin: 0 auto;
    max-width: 600px;

   
  
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: none;
  
      &::placeholder {
        color: #999;
      }
    }
  
  

    .file-input {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
    }
    
    .file-input input[type="file"] {
      display: none;
    }
    
    .file-input label {
      position: absolute;
      right: 260px;
      top: 20px;
      width: 100%;
      height: 100%;
      // background-color: #fff;
    
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .image-preview {
      max-width: 100%;
      max-height: 200px; /* Ajustez la hauteur selon vos besoins */
      margin-top: 10px; /* Ajoutez un espace entre le nom du fichier et l'image */
      z-index: 999;
    }
  
    .share-actions {
      display: flex;
      align-items: center;
     gap: 100px;
      margin-top: -50px;
    
  
      .picker {
        font-size: 1.2rem;
        z-index: 1;
        // position: absolute;
        // margin-top: 180px;
        margin-left: 50px;
      }
  
      .share-button {
        display: flex;
        margin-top: 30px;
        margin-right: 150px;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        // background-color: #1b1c1d;
        background-color: #3152f6;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: 490px;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }

  .dark {
    background-color: #222;
    color: #fff;
  }
